.contenedor {
    padding-left: 220px;
}

#menu {
	background: #191818;
    width: 220px;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    margin-left: -220px;
    overflow-y: auto;
    
}

.main {
	/* padding-left: 220px; */
}

.body {
   line-height: 1.6;
}

#menu a {
    color: #999;
    border: none;
    white-space: normal;
    padding: .625em 1em;
}


#menu .pure-menu-heading-title {
	font-size: 125%;
    font-weight: 300;
    letter-spacing: .1em;
    color: #fff;
    margin-top: 5px;
    padding: .5em .8em;
    text-transform: uppercase;
}

#menu .pure-menu-heading {
    font-size: 125%;
    font-weight: 300;
    letter-spacing: .1em;
    color: #fff;
    margin-top: 0;
    padding: .5em .8em;
    text-transform: capitalize; 
}

#menu .pure-menu .menu-item-divided, #menu .pure-menu ul {
    border-top: 1px solid #333;
}

#menu .pure-menu-list li .pure-menu-link:focus, #menu .pure-menu-list li .pure-menu-link:hover {
    background: #333;
}

.header {
    font-family: Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: .05em;
}
.header h2 {
    font-size: 125%;
    line-height: 1.5;
    color: #666;
    letter-spacing: -.02em;
}
h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #4b4b4b;
}

.header h1 {
    font-size: 320%;
}

.header h1, .header h2 {
    font-weight: 100;
    margin: 0;
}

.contenido {
     margin: 0 auto;
    /* padding-left: 1em;
    padding-right: 1em;
     */max-width: 88%;
     /*text-align: left;
     */padding: 1em;
     width: fit-content;
}
.contenido, .header {
    padding-left: 2em;
    padding-right: 2em;
}
.menu_foot {
    text-align: left;
    color: #999;
    bottom: 3px;
    position: absolute;
    padding: .5em .8em;
}

.menu_foot .menu_foot_title {
	text-align: center;
	
}

.pure-button-primary {
	background-color: #4ec44c;
}

#columna_editar {
	background-color: #4da6ff;
}

#columna_aceptar {
	background-color: #a6ff4d;
}

#columna_eliminar {
	background-color: #ff4d4d;
}

#columna_rechazar {
	background-color: #ff4d4d;
}

#columna_estado {
	background-color: #ffa64d;
}
#columna_aprobador{
	background-color: #ffa64d;
}
#columna_fechaEstado{
	background-color: #ffa64d;
}